.tool-bar .button {
	-fx-alignment: center;
    -fx-content-display: graphic-only;
}

#toolbtn-open {
	-fx-graphic: url("file_open.png");
}

#toolbtn-save {
    -fx-graphic: url("file_save.png");
}
